

### Visual Studio ###
.vs/
bin/
obj/
EMAConsumerATS/EmaConfig_work.xml
EMAConsumerATS/Properties/
EMAConsumerATS/Properties/launchSettings.json


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

note.txt
~$diagram.pptx
#Article_1.md
#Article_2.md